/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

#ASimple_MailSuite_loader ~ .wrap [action="options.php"] td input {
	width: 100%;
}

#ASimple_MailSuite_loader .loader {
	position: absolute;
	background: #f1f1f1;
	box-shadow: 0 0 10px #f1f1f1, 0 0 10px #f1f1f1;
	width: 100%;
	height: 100%;
}

#asimple_mailsuite_view_table {
    width: 100%;
    margin: 0 auto 20px;
}

#asimple_mailsuite_view_table tbody{
	text-align: center;
}

#asimple_mailsuite_view_table tbody td {
    padding: 30px 20px;
    border: 1px solid #ddddddba;
    border-radius: 5px;
}

#asimple_mailsuite_view_table .title {
    display: block;
    font-size: 1.6em;
    font-weight: 400;
    margin: 10px auto 0;
}

#asimple_mailsuite_view_table .count{
	display: block;
	font-size: 4em;
	margin: 30px auto 40px;
	text-align: center;
}

#asimple_mailsuite_view_table [data-method]:not(.has-error) .count{
	cursor: pointer;
}

	#asimple_mailsuite_view_table.mailwizz .title {
	    color: #797979;
	}

	#asimple_mailsuite_view_table.mailwizz .count{
		color: #008ca9;
	}

	#asimple_mailsuite_view_table.suitecrm .count{
		color: #51417d;
	}

#asimple_mailsuite_view_table td.has-error .count{
	color: #ff8f8f;
}

#asimple_mailsuite_view_table tfoot tr:first-of-type td {
    padding-top: 30px;
}

#asimple_mailsuite_view_table tfoot tr:last-of-type td {
    padding-bottom: 30px;
}

#asimple_mailsuite_view_table tfoot td {
    padding: 0 20px;
}

#asimple_mailsuite_view_table tfoot td {
    border-left: 2px solid #ff0000;
}

.error-block{
	border-left: 2px solid #ff0000;
	padding: 10px 0 10px 15px;
}

#pop-up {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #f1f1f1bf;
}

#pop-up .popup-container {
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 1500px;
    max-width: 90%;
    max-height: 90%;
}

#pop-up .popup-container .con {
    background: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    border-radius: 5px;
    display: block;
    width: 100%;
    padding: 20px 20px;
    max-height: 100%;
    overflow-y: auto;
}

#pop-up .popup-container .con .close {
    position: absolute;
    display: inline-block;
    width: 20px;
    height: 20px;
    right: -25px;
    top: 5px;
    text-align: center;
    font-size: 2em;
    color: #aaa;
    cursor: pointer;
    padding: 10px;
}

#pop-up .popup-container h2 {
    border-bottom: 1px solid #eee;
    padding: 0 0 15px;
    font-size: 2em;
    margin: 0 auto 15px;
}

#pop-up .popup-container table {
    width: 100%;
}

#pop-up .popup-container table tbody {
    text-align: center;
}

#pop-up .popup-container table tbody td {
    padding: 20px 15px;
}

#pop-up .popup-container table tbody tr:nth-of-type(odd) td {
    background: rgba(0,0,0,0.05);
}

#pop-up .popup-container .max-desc {
    display: block;
    margin: 15px auto 0;
    text-align: center;
}

.lds-ellipsis {
	display: inline-block;
	width: 64px;
	height: 64px;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}
.lds-ellipsis div {
	position: absolute;
	top: 27px;
	width: 11px;
	height: 11px;
	border-radius: 50%;
	background: #111;
	animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
	left: 6px;
	animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
	left: 6px;
	animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
	left: 26px;
	animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
	left: 45px;
	animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}
@keyframes lds-ellipsis3 {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(0);
	}
}
@keyframes lds-ellipsis2 {
	0% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(19px, 0);
	}
}

.lds-ripple {
	display: inline-block;
	position: relative;
	width: 64px;
	height: 64px;
}
.lds-ripple div {
	position: absolute;
	border: 4px solid #008ca9;
	opacity: 1;
	border-radius: 50%;
	animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
#asimple_mailsuite_dashboard_widget .lds-ripple div {
	animation: lds-ripple-mini 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.suitecrm .lds-ripple div{
	border-color: #51417d;
}
.lds-ripple div:nth-child(2) {
	animation-delay: -0.5s;
}
@keyframes lds-ripple {
	0% {
		top: 28px;
		left: 28px;
		width: 0;
		height: 0;
		opacity: 1;
	}
	100% {
		top: -1px;
		left: -1px;
		width: 58px;
		height: 58px;
		opacity: 0;
	}
}
@keyframes lds-ripple-mini {
	0% {
		top: 10px;
		left: 10px;
		width: 0;
		height: 0;
		opacity: 1;
	}
	100% {
		top: -1px;
		left: -1px;
		width: 18px;
		height: 18px;
		opacity: 0;
	}
}


#asimple_mailsuite_dashboard_widget #asimple_mailsuite_view_table .count {
    font-size: 1.5em !important;
    margin: 0 auto 0 !important;
}
#asimple_mailsuite_dashboard_widget #asimple_mailsuite_view_table .title {
    font-size: 1em !important;
}
#asimple_mailsuite_dashboard_widget #asimple_mailsuite_view_table, #asimple_mailsuite_dashboard_widget #asimple_mailsuite_view_table tbody, #asimple_mailsuite_dashboard_widget #asimple_mailsuite_view_table, #asimple_mailsuite_dashboard_widget #asimple_mailsuite_view_table tr {
    display: block !important;
}
#asimple_mailsuite_dashboard_widget #asimple_mailsuite_view_table td {
    display: inline-block;
    vertical-align: top;
    padding: 15px;
    border: navajowhite;
}
#asimple_mailsuite_dashboard_widget .lds-ripple{
	width: 25px;
	height: 25px;
}